body {
    font-family: arial, sans-serif;
    font-size: 1.6rem;
    color: #444;
    margin: 0 auto;
    padding: 0;
    line-height: 1.4;
    width: 100%;
}
nav a,
footer a {
    display: inline-block;
    color: #444444;
    opacity: 0.75;
    text-decoration: none;
    cursor: pointer;
    margin: 5px;
    padding: 0.7em;
}